<div class="banner w-100" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1478720568477-152d9b164e26?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bW92aWV8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60'); height: 300px">
  <h1>My lists</h1>
  <%#= link_to "Create a new list", new_list_path, class: "btn btn-close-white" %>
  <span class = "btn btn-close-white" data-bs-toggle="modal" data-bs-target="#modalForm">Create a list</span>
</div>

<div class="container mt-3">
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-4 mb-3">
        <%= link_to list_path(list) do %>
          <div class="card h-100">
            <%= image_tag list.url_img , class:"card-img-top" %>
            <div class="card-body">
              <strong><%= list.name %></strong> | <%= link_to "delete", list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= render "lists/modal_form", list: @list %>
