<!-- <div class="banner w-100" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @list.url_img %>); height: 300px"> -->
<div class="banner w-100" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, crop: :fill %>'); height: 300px">
  <h1><%= @list.name %></h1>
  <%#= link_to "Add a bookmark", new_list_bookmark_path(@list), class: "btn btn-close-white" %>
  <span class = "btn btn-close-white" data-bs-toggle="modal" data-bs-target="#modalForm">Add a bookmark</span>
</div>

<div class="container mt-3 mb-3">

  <div class="errors position-relative">
    <% if @bookmark.errors.any? %>
      <div class="alert alert-warning position-static" role="alert">
        <h5>Bookmark not saved:</h5>
        <ul>
          <% @bookmark.errors.full_messages.each do |error| %>
            <li><%= error %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="row mb-3 ">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="col-4 mb-3">
        <div class="card h-100">
          <%= image_tag bookmark.movie.poster_url , class:"card-img-top" %>
          <div class="card-body">
            <strong><%= bookmark.movie.title %></strong>
            <p class="text-muted" ><%= bookmark.movie.overview %></p>
            <p>"<%= bookmark.comment %>" </p>
            <span>
              <%= link_to "delete",
                              bookmark_path(bookmark),
                              data: {turbo_method: :delete,
                                    turbo_confirm: "Are you sure?"} %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row border-top m-0 mt-3 pt-3">
    <div class="col-6">
      <h3>Reviews</h3>
      <% @list.reviews.each do |review| %>
        <p><%= review.comment %> (<%= review.rating %>/5)</p>
      <% end %>
    </div>
    <div class="col-6">
      <%= render "review/modal_form", list: @list, review: @review %>
    </div>
  </div>
</div>

<%= render "bookmarks/modal_form", list: @list, bookmark: @bookmark %>
